@import './base.css';
@import 'v-calendar/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#log-time-form-incomplete {
    display: none;
}

.custom-button {
    transition: background-color 0.1s ease-in-out;
}

.custom-button:hover {
    filter: contrast(200%);
}

.custom-button:active {
    filter: grayscale(20%);
}
