@import './base.css';
@import 'v-calendar/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#log-time-form-incomplete {
    display: none;
}

.custom-button:nth-of-type(2) {
    background-color: #665687;
    color: white;
    transition: background-color 0.1s ease-in-out;
}

.custom-button:nth-of-type(2):hover {
    background-color: #331268;
}

.custom-button:nth-of-type(2):active {
    background-color: black;
}

.custom-button-no-fill:nth-of-type(1) {
    color: #f67280;
    transition: color 0.1s ease-in-out;
}

.custom-button-no-fill:nth-of-type(1):hover {
    color: #cb4654;
}

.custom-button-no-fill:nth-of-type(1):active {
    color: #9d3943;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    max-width: 28rem;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer {
    display: grid;
    grid-template-columns: auto auto;
}

.modal-enter-from {
    opacity: 0;
}

.modal-leave-to {
    opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.vc-arrow {
    z-index: 9999;
}
